
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .search-form, .btn-box {
        flex-shrink: 2;

        .btn-box__favorites {
            margin: 4px;
            &--yellow {
                background-color: yellow;
            }
            &--green {
                background-color: green;
            }
            &--red {
                background-color: red;
            }
            &--red {
                background-color: gray;
            }
        }
    }
}

.video-list {
    &__item {
        margin-top: 10px;
    }
    &__img {
        width: 120px;
    }
}